.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}
.home-view .main {
    width: 50%;
}
.home-view .title {
    font-size: 42px;
    font-weight: 600;
}
.home-view .description {
    font-size: 18px;
    font-weight: 400;
    opacity: .9;
}
.home-view .location {
    font-size: 12px;
    font-weight: 400;
    opacity: .9;
    margin-top: 24px;
}

.home-view .divider {
  width: 30%;
  border: 2px solid #C6310B;
  margin: 24px 0;
}
.home-view .button-wrapper {
    display: flex;
    margin: 24px 0;
}

.home-view .button:last-child{
    margin-left: 34px;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px){
    .home-view .main {
        width: 80%;
    }
    .home-view .button-wrapper {
        width: 100%;
    }
}
@media only screen
  and (min-width: 481px)
  and (max-width: 1150px){
    .home-view .button-wrapper {
        width: 80%;
    }
}