.saw-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  width: 8vmin;
  pointer-events: none;
  fill: #3c2313;
  margin-top: 24px;
  margin-left: 24px;
}

.header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.header-title {
  margin-top: 24px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
